<ion-view>
 <ion-nav-buttons side="right">
        <button class="button btn-header" ng-click="share()">
            <i class="ion-android-share-alt"></i>
        </button>
        <button class="button btn-header" ng-click="addfavorites()">
            <!-- <i class="ion-ios-heart-outline"></i> -->
            <i class="ion-ios-heart" style="color:red"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="bg-content has-header" >
        <ion-slide-box on-slide-changed="slideHasChanged($index)" style="max-height: 300px!important;" lazy-scroll> 
            <ion-slide ng-repeat="i in aImages" >
                <div class="box" style="max-height:300px">
                    <a ng-click="goToSlide($index)">
                        <img image-lazy-src="{{i.src}}" src="{{i.src}}" image-lazy-background-image="true" lazy-scroll-resize="true" image-lazy-loader="lines" image-lazy-distance-from-right-to-load="100" alt="" style="width:100%;">
                    </a>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div style="border-bottom: 1px solid #c2c2c2; height: 60px;">
            <img style="width: 60px; border-radius: 50px; padding: 5px; float: left;" src="images/profile.jpg">
            <span style="margin-top: 12px; position: absolute;width:100%"><a style="text-decoration: none;color: rgb(171, 166, 166);" href="/#/app/perfil">João Gabriel</a></span>
            <span style="position: absolute;width:100%; font-size: 0.8em; color: rgb(171, 166, 166); margin-top: 30px;">(4 amigos em comum)</span>
            <span style="color: rgb(171, 166, 166); position: relative; float: right; right: 5px;top: 20px; font-size: 0.8em;">22 horas atrás</span>
        </div>
        <div style="padding: 15px;">
            <h5 style="font-weight: bold;">Cadeira de Rodas (Usado)</h5>
            <p style="color:rgb(104, 102, 102)">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            </p>
            <h6 style="font-weight: bold;">Onde buscar e qual horário?</h6>
            <p style="color:rgb(104, 102, 102)">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <h6 style="font-weight: bold;">Porque está ofertando?</h6>
            <p style="color:rgb(104, 102, 102)">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <h6 style="font-weight: bold;">Ranking solidário</h6>
             <p style="color:rgb(104, 102, 102)">
                <span style="color:red">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </p>
            <h6 style="font-weight: bold;">Amigos em comum</h6>
             <p style="color:rgb(104, 102, 102)">
                <img style="width: 60px; border-radius: 50px; padding: 5px; float: left;" src="images/profile.jpg"><img style="width: 60px; border-radius: 50px; padding: 5px; float: left;" src="images/profile.jpg"><img style="width: 60px; border-radius: 50px; padding: 5px; float: left;" src="images/profile.jpg"><img style="width: 60px; border-radius: 50px; padding: 5px; float: left;" src="images/profile.jpg"><img style="width: 60px; border-radius: 50px; padding: 5px; float: left;" src="images/profile.jpg">
            </p>
        </div>
        <div style="border-bottom: 1px solid rgb(194, 194, 194);border-top:1px solid rgb(194, 194, 194);  height: 45px; clear: both; padding-left: 12px; padding-top: 10px;">
           <span style="color:rgb(104, 102, 102)"><i class="ion-ios-location" style="color:red"></i>  Belém</span> 
           <span style="color: rgb(171, 166, 166); position: relative; float: right; right: 5px;font-size: 0.8em;">22 Km de você</span>
        </div>
        <div id='map'>
            <a href="https://www.google.com/maps/dir//Belém,+Pa/"><img style="width: 100%;" src="http://maps.googleapis.com/maps/api/staticmap?center=Belém,+Pa&zoom=16&scale=2&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff6464%7Clabel:%7CBelém,+Pa" alt="Google Map of Belém, Pa"></a>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" style="padding:0;height: 60px;background-color: rgb(242, 242, 242);">
        <div class="row bg-content" style="padding: 0; padding-left: 10px; padding-right: 10px;">
            <div class="col bg-content" style="padding-bottom: 0; padding-top: 0;">
                <button class="button button-block button-outline button-assertive" style="margin-top: 5px;height: 50px;">Falar no chat</button>
            </div>
            <div class="col bg-content" style="padding-bottom: 0; padding-top: 0;">
                <button class="button button-block button-outline button-assertive" style="margin-top: 5px;height: 50px;">Eu Preciso!</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
