<ion-view title="Conversas">
    <ion-content class="bg-content">
        <div class="list">
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h3 style="color:red">Wagner B.</h3>
                 <span style="font-size: 0.7em;">Mangueirão, Belém</span>
                <span style="float: left; margin: 0px; padding: 0px; top: -5px; position: relative;">2 dias atrás</span>
                <img src="cover.jpg" class="img-chat">
            </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h3 style="color:red">Wagner B.</h3>
                 <span style="font-size: 0.7em;">Mangueirão, Belém</span>
                <span style="float: left; margin: 0px; padding: 0px; top: -5px; position: relative;">2 dias atrás</span>
                <img src="cover.jpg" class="img-chat">
            </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h3 style="color:red">Wagner B.</h3>
                 <span style="font-size: 0.7em;">Mangueirão, Belém</span>
                <span style="float: left; margin: 0px; padding: 0px; top: -5px; position: relative;">2 dias atrás</span>
                <img src="cover.jpg" class="img-chat">
            </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h3 style="color:red">Wagner B.</h3>
                 <span style="font-size: 0.7em;">Mangueirão, Belém</span>
                <span style="float: left; margin: 0px; padding: 0px; top: -5px; position: relative;">2 dias atrás</span>
                <img src="cover.jpg" class="img-chat">
            </a>
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h3 style="color:red">Wagner B.</h3>
                 <span style="font-size: 0.7em;">Mangueirão, Belém</span>
                <span style="float: left; margin: 0px; padding: 0px; top: -5px; position: relative;">2 dias atrás</span>
                <img src="cover.jpg" class="img-chat">
            </a>
           
         
        </div>
    </ion-content>
</ion-view>
