<ion-view title="Solidarize">
    <ion-nav-buttons side="right">
        <button class="button btn-header" ng-click="goBusca()">
            <i class="ion-ios-search"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="bg-content">
       <!--  <ion-refresher pulling-text="Pull to refresh..." on-refresh="fetchRandomText()">
        </ion-refresher>
        <div class="loader" ng-if="!myHTML">
            <ion-spinner></ion-spinner>
        </div> -->
        <div class="list list-inset">
            <a class="item item-thumbnail-left" href="/#/app/anuncio/1">
                <img src="images/m.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/m.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/m.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/m.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
        </div>
    </ion-content>
</ion-view>
