.loader {
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

.item-divider-custom {
    border-top: 0;
    border: 0;
    background-color: white;
    border-bottom: 2px solid red;
}

.bg-content {
    background-color: rgb(242, 242, 242);
}

.bar-header {
    border: 2px solid red !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
}

.btn-header {
    border: 0;
    background-color: white;
    font-size: 2em!important;
    color: red;
}


.avatar-img{
	width: 100px; border-radius: 50px; padding: 20px;float:left
}
.avatar-nome{
	margin-top: 30px; position: absolute;
}
.avatar-email{
	margin-top: 45px; position: absolute; font-size: 0.8em;
}

.menu-bg,.menu-bg a{
	background-color:black;
	color:white;
	border: 0px none;
	text-decoration:unset;
}

.menu-bg-spacing a{
	padding-left: 75px;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .9;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}