<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable-custom">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="viewContent">
        </ion-nav-view>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="left" class="side-menu">
        <ion-content class="menu-bg">
            <div>
                <img class="avatar-img" src="images/profile.jpg"> 
                <span class="avatar-nome"><a menu-close href="/#/app/perfil">João Gabriel</a></span>
                <span class="avatar-email"><a menu-close href="/#/app/perfil">jgabriel.ufpa@gmail.com</a></span>
            </div>
            <div class="list menu-bg menu-bg-spacing" style="clear: both;">
                <a menu-close class="item item-icon-left" ui-sref="app.home">
                    <i class="icon ion-ios-compose-outline"></i> Anúncios
                </a>
                <a menu-close class="item item-icon-left" ui-sref="app.chat">
                    <i class="icon ion-ios-chatbubble-outline"></i> Conversas
                </a>
                <a menu-close class="item item-icon-left" ui-sref="app.categorias">
                    <i class="icon ion-ios-pricetags-outline"></i> Categorias
                </a>
                <a menu-close class="item item-icon-left"  ui-sref="app.notificacoes">
                    <i class="icon ion-ios-eye-outline"></i> Notificações
                </a>
                <a menu-close class="item item-icon-left"  ui-sref="app.contato">
                    <i class="icon ion-ios-telephone-outline"></i> Fale Conosco
                </a>
                <a menu-close class="item item-icon-left">
                    <i class="icon ion-ios-close-outline"></i> Sair
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
